<html>

<body>
        <form action="/pessoas" method="post">
        <div>
            <label for="nome">Descrição</label>
            <input type="text" id="nome" name="nome" aria-placeholder="digite o nome da pessoa" />
        </div>
        <div>
            <label for="cpf">CPF / CNPJ</label>
            <input type="text" id="cpf" name="cpf" aria-placeholder="digite o CPF ou CNPJ" />
        </div>
        <div>
            <label for="rg">R.G / I.E </label>
            <input type="text" id="rg" name="rg" aria-placeholder="digite o RG ou IE " />
        </div>
        <input type="submit" value="salvar" />
    </form>
</body>

</html>