<html>

<body>
    <form action="/produtos" method="post">
        <div>
            <label for="descricaoproduto">Descrição</label>
            <input type="text" id="descricaoproduto" name="descricaoproduto" placeholder="digite o nome do produto" />
        </div>
        <div>
            <label for="grupoproduto">Grupo Produto</label>
            <input type="text" id="grupoproduto" name="grupoproduto"placeholder="digite o codigo do grupo do produto" />
        </div>
        <div>
            <label for="valor">Valor Produto</label>
            <input type="text" id="valor" name="valor" placeholder="digite o valor do produto" />
        </div>
        <input type="submit" value="salvar" />
    </form>
</body>

</html>